# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
broadcast/ 
.notes.md
.DS_Store

/.vscode

# Audit info
aderyn-report.md
slither.config.json
report.md
findings-example.md
logo.pdf
coverage.txt
report-layout.md

section-6-nft*